body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px;
}

label {
    display: block;
    text-align: center; /* Alinha os rótulos ao centro */
    margin: 5px;
}

input {
    display: block;
    margin: 5px;
    margin: 0 auto; /* Centraliza os campos de entrada horizontalmente */
}

button {
    margin: 10px;
}


